.hid_c_d_g{
	background-color: #ffffff;
	float: left;
	height: 26px;
	margin-left: 26px;
	padding-bottom: 9px;
	padding-right: 22px;
	padding-left: 9px;
	padding-top: 16px;
	text-align: center;
	margin-bottom: 9px;
	
}
.hid_c_d_g_submit_s i{
	margin:25px;
}

.hid_c_d_g_sub{
	font-family: "Open Sans",sans-serif;
	background: #0073aa;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	padding: 9px;
	text-transform: uppercase;
	margin-left: 24px;
	cursor:pointer;
}

.donate_ad_plugin {
	border: 2px solid #ccc;
	float: right;
	padding: 11px 16px 17px 19px;
	width: 14%;
}
.donate_ad_plugin > span {
    color: #0073aa;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 17px;
}
.hid_c_d_g_inside {
    float: left;
}